@charset "utf-8";
.list_headings {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    font-variant: small-caps;
    text-align: center;
}
h1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
}
h2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    font-variant: normal;
    text-align: left;
}
